html, body {
    background-color:cornsilk;
    margin:0;
    padding:0;
    width: 100%;}

.top-nav{
    align-items: center;
    background-color:#FFFFFF;
    display:flex;
    justify-content: flex-end;
    position: fixed;
    width: 100%;}

.links-top-nav {
    align-items: center;
    display: flex;
    list-style: none; 
    justify-content: flex-end;
    padding-top: 20px;
    width: 800px;
}
    
.link-top-nav a {
    font-family: 'Staatliches', cursive;
    text-decoration:none;
    color: #9370DB;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.contacto-topnav {
    background-color:#936be2;
    border-radius: 50px ;
    color:#FFFFFF
    margin-right: 25px;
    padding: 5px;    
    text-decoration: none;
}

.contacto-topnav {
    background-color:#fac822; }

.introduccion {
    background-color: aqua;
    align-items: center;
    display: flex;
    justify-content:center;
    padding-bottom: 100px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 150px;
}

.header-portada {

}

h2{
    color: #000000;
    font-size: 50px;
    font-weight: bolder;
}

h1 {
    color:#936be2;
    font-size: 75px;
    font-weight: bold;
}

.lo-que-hago {
    color: #FFFFFF ;
    text-decoration: none;
    background-color:#9370DB;
    border-radius: 50px;
    padding: 10px;;
    font-weight: 500;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}




.conocimientos {
   
    

}

.grilla-conocimientos {
   
}

.item-conocimientos {
    background-color:#FFFFFF;
    text-align: center;

}




.cita {
    background-color:#9370DB ;
}
}
footer {
    background-color: #9370DB;
}

.link-footer {
    color: #000000;
}

